body{
    background-color: aqua;
    margin: 5px;
}
#header>h1{
    margin: 0px;
    background-color: rgb(237, 227, 214);
    color: rgb(23, 8, 8);
    text-align: center;
}
#header>p{
    margin: 0px;
    background-color: azure;
    font-style: oblique;
    padding-right: 70px;
    font-size: medium;
    text-align: right;
}

#border{
    border: 3px; 
    border-color: black;
    border-style: outset;
}

#Interest{
    margin-top: 50px;
    text-align: center;
    border: solid;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
 #Interest>h2{
     margin-left: 200px;
     margin-right: 200px;
     background-color: white;
     color: blue;
 }
#Interest>h3{
    font-size: medium;
    text-align: center;
}
#buton{
    margin-top: 10px;
}

#navbar{
    justify-content: space-evenly;
    display: flex;
    background-color: rgb(139, 109, 0);
    padding: 20px;
    margin: 5px;
}
#navbar>a{
color: aliceblue;
}

      a:hover{
          animation: reverse;
        border-bottom: .1em solid rgb(0, 0, 5);
      }
